.table td, .table th{
    padding: 0;
    width: 200px;
    margin: 0;
}

.table-borderless td, .table-borderless th {
    border: 0;
}
#logo {
    margin: 20px auto;
    height: 72px
}

.question {
    font-family: 'Crimson Text', serif;
}

.amount {
    z-index: 1;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: goldenrod;
    margin-bottom: 0;
    margin-top: 10px;
}

#nameEntry {
    z-index: 2;
    position: relative;
    margin: auto;
    top: 0;
}

#name-input {
    z-index: 3;
    position: absolute;
    margin: auto;
}

.gameSpace {
    width: 100%;
    z-index: -1;
    position: absolute;
}

.gameBoard {
    width: 200px;
    position: relative;
}

.nameBoard {
    display: block;
    margin: auto;
    width: 100%;
    position: absolute;
}

.scoreBoard {
    width: 100%;
    position: relative;
}

#name-panel {
    z-index: 3;
    position: absolute;
}

#here {
    z-index: -1;
    position: absolute;
}

#squareExample {
    display: none;
}
.amount:hover{
    cursor:pointer;
}