.table td, .table th{
    padding: 0;
    width: 200px;
    margin: 0;
}

.table-borderless td, .table-borderless th {
    border: 0;
}
#logo {
    margin: 20px auto;
    height: 72px
}

.question {
    font-family: 'Crimson Text', serif;
}

.amount {
    z-index: 1;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: goldenrod;
    margin-top: 18px;
}

.gameSpace {
    width: 200px;
    height: 100px;
    z-index: -1;
    position: absolute;
}

.gameBoard {
    width: 200px;
    position: relative;
}

#squareExample {
    display: none;
}